@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#101010] text-[#F3F3F3] font-aeonik antialiased select-none;
  }
  
  h1, h2, h3, h4 {
    @apply font-aeonik tracking-tight;
  }
}

.hyper-card {
  @apply bg-[#080808] border border-[#333333] rounded-lg transition-all duration-300;
}

.hyper-card:hover {
  @apply border-[#E7C59A]/40 shadow-amber-glow;
}

.input-data {
  @apply font-input text-[13px] tracking-[-0.037em] leading-relaxed;
}

/* Custom Scrollbar for Hyperstudio */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #101010;
}
::-webkit-scrollbar-thumb {
  background: #333333;
}
::-webkit-scrollbar-thumb:hover {
  background: #E7C59A;
}
